header{
	
	width: 100%;
	height: 80px;
	border-radius: 5px;
	background-color: #26a69a;

	
}

body{
	background-color: #004d40;
	color: black;
}

H1{
	color: white;
	font-family: Impact, sans-serif;
	text-align: center;
}
